@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <div class="container">
      <div class="row">
        
        <div class="col-md-12 py-5 text-center">

   <h4 class="heading-fonts ft-34 text-uppercase col-12 col-md-6 col-lg-6 mx-auto px-4 text-center mb-3">Restaurants</h4>

   <p class="g-light col-12 col-md-7 col-lg-7 col-xl-5 mx-auto">Whether you are in the mood for a laidback buffet brunch with family, coffee with friends or planning to meet business associates over dinner, the ﬁve-star hotel has everything to cater to all tastes.</p>

 </div>
      </div>
    </div>
    <div class="col-md-12 text-center">
      <h4 class="mt-0 mb-5 heading-fonts ft-34 text-uppercase">choose your Restaurant</h4>
    </div>

       
           <center>
            <div class="button-hov mt-0 w-105">
                
                    <a href="https://www.pchotels.com/uploads/host/pdf/PCHR_inroom_menu.pdf" class="text-uppercase align-items-center ft-14 g-bold border-top border-bottom border-yellow py-2 mb-0 mb-md-0 text-center text-yellow  btn-sm bg-warning  " target="_blank" tabindex="0"><span>VIEW MENU</span></a>

                </div>
        </center>
       